{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la Bibliothèque
{% endblock %}

{% block body %}
	<main class="bg-custom2">
		<div class="container mt-4 mb-4">
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 text-center">
						<div class="bg-custom rounded p-3" style="max-width: 50%; margin: auto;">
							<h1 class="text-white">La Bibliothèque de Kévin et Théo</h1>
							<h4 class="text-yellow">Découvrez la culture</h4>
						</div>
					</div>
				</div>
			</div>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<div class="row row-cols-1 row-cols-md-3">
				{% for livre in livres %}
					<div class="col mb-4">
						<div class="card">
							{% if livre.ImageName is not null %}
								<img src="{{ asset('img/CouvertureLivres/' ~ livre.ImageName) }}" class="card-img-top" alt="{{ livre.titre }}" style="max-width: 100%; max-height: 100%;">
							{% endif %}
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{ path('details_livre', {'id': livre.id}) }}">{{ livre.titre }}</a>
								</h5>
								<p class="card-text">{{ livre.auteur }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>
{% endblock %}
