{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la Bibliothèque{% endblock %}

{% block body %}
    <h1>Bienvenue sur la Bibliothèque</h1>
    <ul>
        {% for livre in livres %}
            <li>
                   {% if livre.ImageName is not null %}
                    <img src="{{ asset('img/CouvertureLivres/' ~ livre.ImageName) }}" alt="{{ livre.titre }}" style="max-width: 100px; max-height: 100px;">
                {% endif %}
                <strong><a href="">{{ livre.titre }}</a></strong> - {{ livre.auteur }}<br>
                {# {{ livre.description }}<br>
                Date de Parution : {{ livre.DatedeParuption ? livre.DatedeParuption|date('d-m-Y') : 'Non spécifiée' }}<br>
                Pages : {{ livre.PagesNombres }}<br>
                Statut : {{ livre.Statut ? 'Emprunté' : 'Disponible' }}<br>
                categorie : {{ livre.categorie }}<br>
                ISBN : {{ livre.ISBNNombre }}<br>
                {% if livre.idEmprunteur is not null %}
                    Emprunteur : {{ livre.idEmprunteur.nom }}<br>
                {% endif %} #}
            </li>
        {% endfor %}
    </ul>
{% endblock %}