{% extends 'base.html.twig' %}

{% block title %}Détails du Livre{% endblock %}

{% block body %}
    <img class="background" src="https://www.bnf.fr/sites/default/files/styles/header_big_height/public/2021-11/jardin_fm_automne.jpg" alt="Aleq">

    <div class="container mt-4 mb-4">
        <div class="card bg-custom">
            <div class="card-body">
                <h1 class="card-title text-center">{{ livre.titre }}</h1>
                {% if livre.ImageName is not null %}
                    <img src="{{ asset('img/CouvertureLivres/' ~ livre.ImageName) }}" alt="{{ livre.titre }}" class="img-fluid mb-3" style="max-width: 25%; max-height: 25%;">
                {% endif %}
                <p class="card-text">Auteur : {{ livre.auteur }}</p>
                <p class="card-text">Description : {{ livre.description }}</p>
                <p class="card-text">Date de Parution : {{ livre.DatedeParuption ? livre.DatedeParuption|date('d-m-Y') : 'Non spécifiée' }}</p>
                <p class="card-text">Nombre de Pages : {{ livre.PagesNombres }}</p>
                <p class="card-text">Catégorie : {{ livre.categorie }}</p>
                <p class="card-text">Statut : {{ livre.Statut ? '🔴 Emprunté' : '✅ Disponible' }}</p>
                <p class="card-text">ISBN : {{ livre.ISBNNombre }}</p>

                <form method="post" action="{{ path('supprimer_livre', {'id': livre.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce livre ?');">
                    <button type="submit" class="btn btn-danger">Supprimer le livre</button>
                    <a href="{{ path('home_route') }}" class="btn btn-secondary">Retour à la liste des livres</a>
                    <a href="{{ path('modifier_livre', {'id': livre.id}) }}" class="btn btn-primary">Modifier le livre</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}