{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<div class="example-wrapper container p-3">
    <h1>Salutations Employé 427 ! ✅</h1>
    <br>
    <h2>Veuillez vérifier ces paramètres avant créer une entrée dans la BDD :</h2>
    <ul>
        <li>Aucunes cases ne soient vides de données.</li>
        <li>Le fichier de Photo soit dans ces formats : 'jpg', 'png', 'jpeg', 'gif', 'webp'</li>
    </ul>
    <br><br>
    <h1>Ajouter un Membre</h1>

    {{ form_start(form) }}
    {{ form_row(form.Nom) }}
    {{ form_row(form.Prenom) }}
    {{ form_row(form.Statut) }}
    {{ form_row(form.PhotoFile) }}

<button type="submit">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}