{% extends 'base.html.twig' %}

{% block title %}Liste des Membres{% endblock %}

{% block body %}
    <h1>Liste des Membres</h1>
    <ul>
        {% for membre in membres %}
            <li>
                {% if membre.PhotoName is not null %}
                    <img src="{{ asset('img/PhotoUtilisateurs/' ~ membre.PhotoName) }}" alt="{{ membre.Nom }} {{ membre.Prenom }}" style="max-width: 100px; max-height: 100px;">
                {% endif %}
               <a href="{{ path('details_membre', {'id': membre.id}) }}">{{ membre.Nom }} {{ membre.Prenom }} - {{ membre.Statut }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}