{% extends 'base.html.twig' %}

{% block title %}Liste des Membres{% endblock %}

{% block body %}
    <img class="background" src="https://www.bnf.fr/sites/default/files/styles/header_big_height/public/2021-11/jardin_fm_automne.jpg" alt="Aleq">
    <div class="container mt-4 mb-4">
        <div class="container-fluid topkek">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="bg-custom rounded p-3" style="max-width: 50%; margin: auto;">
                        <h1 class="text-grey">Liste des Membres</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for membre in membres %}
                <div class="col-md-4 mb-4">
                    <div class="card bg-custom">
                        <a href="{{ path('details_membre', {'id': membre.id}) }}" class="text-decoration-none text-dark d-block position-relative">
                            {% if membre.PhotoName is not null %}
                                <img src="{{ asset('img/PhotoUtilisateurs/' ~ membre.PhotoName) }}" alt="{{ membre.Nom }} {{ membre.Prenom }}" class="card-img-top" style="width: 100%; height: 100%;">
                            {% endif %}
                            <div class="overlay position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(204, 187, 241, 0); transition: background-color 0.3s ease-in-out;"></div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ membre.Nom }} {{ membre.Prenom }}
                                </h5>
                                <p class="card-text">{{ membre.Statut }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}